:root {
  --color-granite: #252629;
  --color-nemo: #ff4a11;
  --color-foam: #fff;
  --border-radius: 4px;
  --letter-spacing: 0.025em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: var(--color-foam);
  line-height: 1.4;
  margin: 0;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: var(--letter-spacing);
}

strong {
  color: var(--color-nemo);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-nemo);
  border-radius: var(--border-radius);
}

figcaption {
  color: var(--color-foam);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-radius);
  background-color: var(--color-nemo);
  color: var(--color-foam);
}

a:hover,
a:focus-visible {
  background-color: var(--color-granite);
  text-decoration: none;
}

mark {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-nemo);
}
