*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: rgb(48 48 48 / 100%);
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: 0.025em;
}

strong {
  color: #8236ff;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: #8236ffff;
  border-radius: 4px;
}

figcaption {
  color: rgb(255 255 255);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: 4px;
  background-color: hsl(263, 100%, 61%);
  color: #fff;
}

a:hover,
a:focus-visible {
  background-color: rgb(48 48 48);
  text-decoration: none;
}

mark {
  background-color: rgb(130, 54, 255);
  color: #ffffff;
  border-radius: 4px;
  letter-spacing: 0.025em;
}

::selection {
  background-color: #303030;
  color: #8236ff;
}