.app {
  display: grid;
  height: 100vh;
  grid-template-rows: 8rem 1fr 8rem;
}

.app__main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
