*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  max-width: 50rem;
  padding: 2rem;
  display: grid;
  place-items: center;
  gap: 2rem;
  align-content: center;
}