*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.result {
  border-radius: 50%;
  background-color: hotpink;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.5rem 3rem;
}
