html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding-inline: 0.5rem;
  background-color: #0070f3;
  color: white;
}

nav a {
  color: white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 500px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

input:not([type="file"]),
form button {
  margin: 0;
  padding: 0 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgba(0, 0, 0, 0.1);
}

form textarea {
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgba(0, 0, 0, 0.1);
}

form button {
  background-color: dodgerblue;
  color: white;
}
