/*
Use grid to change the layout:

[ ] - Services are displayed in three columns and two rows

Hint: you need only two lines of code in your grid container
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  background-color: #252629;
}

.services {
  max-width: 900px;
  padding: 2rem;
  margin: auto;

  /* Add styles to the container */
}

.services__item {
  padding: 1.4rem;
}

.services__headline {
  margin: 0 0 1rem 0;
  color: #fa4b12;
}

.services__text {
  color: white;
}
