*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 2rem;
  min-height: 100vh;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  background: #007bff;
  color: #fff;
}

button:hover {
  background: #0069d9;
}

button:active {
  background: #0062cc;
}

button:disabled {
  background: #6c757d;
}

.field {
  width: 600px;
  position: relative;
  aspect-ratio: 2/1;
  background-color: #b2e068;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2362c23f' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  isolation: isolate;
  user-select: none;
  border-radius: 0.25rem;
}

.track {
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #cf5840;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff9883' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.runner {
  width: 25px;
  height: 25px;
  font-size: 25px;
  display: grid;
  place-items: center;
  line-height: 1;
  position: absolute;
  bottom: calc(50% - 12px);
  left: 0;
  transform: scaleX(-100%);
  transform-origin: 50% 50%;
}

.runner::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba(29, 17, 11, 0.15);
  z-index: -1;
}

.runner:nth-child(1) {
  left: 0;
}

.runner:nth-child(2) {
  left: 33%;
}
.runner:nth-child(3) {
  left: 66%;
}
