*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

#root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  gap: 2rem;
  align-content: center;
}

button {
  font-size: larger;
  padding: 0.5rem 1rem;
}
