.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 16px;
  margin: -8px -16px;
  border-radius: 4px;
}

.movie:hover {
  background-color: var(--grey-light);
}

.movie__actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.movie__button {
  border: none;
  background-color: var(--primary-light);
  color: var(--white);
  border-radius: 999px;
  width: 2em;
  height: 2em;
}

.movie__button:hover {
  background-color: var(--primary-dark);
}

.movie__title {
  text-decoration: underline;
  font-size: 1.7rem;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  margin: 0;
  opacity: 0.5;
  transition: all 200ms;
}

.movie__title--is-liked {
  opacity: 1;
  text-decoration-color: var(--primary-light);
}
