.status-check {
  border: 1px solid var(--black-light);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status-check__button {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem;
}

.status-check__heading {
  margin: 0;
}

.status-check__icon {
  align-self: center;
}

.status-check__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0.25rem;
}
