*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 14px;
  background-color: #e1e1e4;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

input {
  width: 80px;
}

output {
  font-family: monospace;
  padding: 12px;
  font-size: 2rem;
  background-color: slategrey;
  border-radius: 20px;
}
