:root {
  --primary-dark: #2e016d;
  --primary: #3f0097;
  --primary-light: #8236ff;
  --secondary-dark: #38ccda;
  --secondary: #7fd9e2;
  --accent: #ffd15d;
  --black-light: #303030;
  --black: #000000;
  --white: #ffffff;
  --grey-dark: #b6b9c2;
  --grey-light: #f5f6f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  display: grid;
  min-height: 100vh;
  place-items: center;
  gap: 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  display: contents;
}