*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	margin: 0;
	min-height: 100vh;
	background-color: #fafaff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul {
	width: 100%;
	max-width: 600px;
	list-style: none;
	padding: 0;
	display: grid;
	gap: 20px;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 14px;
	padding: 14px;
	background-color: #fff;
}

.card__title {
	padding: 0;
	margin: 0;
}
