*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:selection {
	background-color: transparent;
}

body,
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: none;
	font-family: Arial;
	color: white;
	overflow: hidden;
}
.cat {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(calc(50vw - 50%), calc(50vh - 50%));
	cursor: none;
	z-index: -1;
}

.laser-hitbox {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 999px;
	transition: transform 0.5s;
	place-self: flex-start;
}

.laser {
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 rgb(255 40 40);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display--none {
	display: none;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}
