@import "./theme.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}

.header {
  position: sticky;
  top: 0;
  background: var(--header-bg);
  color: var(--header-text);
  padding: 20px;
}

.header__title {
  margin: 0;
}


.main-content {
  background: var(--main-bg);
  padding: 20px;
}

.main-content__title {
  color: var(--main-text);
  background: var(--main-title-bg);
  margin: 0 0 20px 0;
  padding: 10px;
}

.main-content__menu-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
 
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg);
  color: var(--card-text);
  padding: 20px;
  border-radius: 5px;
  min-width: 300px; 
  flex: 1 1 30%;
}

.card__title {
  margin: 0 0 10px 0;
}
