:root {
  --primary-dark: #2e016d;
  --primary: #3f0097;
  --primary-light: #8236ff;
  --secondary-dark: #38ccda;
  --secondary: #7fd9e2;
  --accent: #ffd15d;
  --black-light: #303030;
  --black: #000000;
  --white: #ffffff;
  --grey-dark: #b6b9c2;
  --grey-light: #f5f6f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

button {
  border: none;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: var(--primary-light);
  color: var(--white);
  font-size: 1.5rem;
}

button:hover {
  background-color: var(--primary);
}

.container {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template: "container";
  place-items: center;
  place-content: center;
}

.button-container {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
