*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


main {
	height: 100vh;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 13rem;
}

/**
 * Look at the selectors defined below.
 * Position each element, so that the placement matches the name of the selector.
 * Adjust the rule-sets for each selector to satisfy the name.
 *
 * @example
 * .box--top-left -> This element should be be placed in the top, left corner.
 */

.box--top-left {
	background-color: #aed6f1;
}

.box--top-center {
	background-color: #85c1e9;
}

.box--top-right {
	background-color: #5dade2;
}

.box--center {
	background-color: #3498db;
}

.box--bottom-left {
	background-color: #2874a6;
}

.box--bottom-center {
	background-color: #21618c;
}

.box--bottom-right {
	background-color: #1b4f72;
}
