* {
	box-sizing: border-box;
}

body {
	margin: 20px auto;
	padding: 20px;
	max-width: 300px;
}

.card-list[role='list'] {
	list-style: none;
	display: grid;
	gap: 20px;
	margin: 40px 0 0;
	padding: 0;
}

.card {
	display: grid;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 4px 16px #0002;
	position: relative;
}

.card__bookmark {
	all: unset;
	user-select: none;
	position: absolute;
	height: 10px;
	right: 10px;
	top: -5px;
	border: 15px solid #333;
	border-bottom-color: transparent;
}
.card__bookmark--active {
	border-color: hotpink;
	border-bottom-color: transparent;
}
