@import './global.css';

body {
  font-family: system-ui;
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 20px;
  width: 90%;
  min-height: 100vh;
  background-color: white;
}

h1 {
  padding: 5px;
  background-color: var(--primary);
  color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  border-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

legend {
  background-color: var(--primary);
  color: var(--white);
}

button {
  margin: auto;
  width: fit-content;
  padding: 5px 10px;
}

input[type="submit"] {
  margin: auto;
  width: fit-content;
}

textarea {
  width: fit-content;
}

.error {
  color: red;
}

.success {
  color: green;
}