*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.result {
	border-radius: 50%;
	background-color: hotpink;
	font-size: 2rem;
	width: 5rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	padding: 0.5rem;
}

.button {
	padding: 0.5rem 3rem;
}
