.wheel {
  width: 5rem;
  height: 8rem;
  font-size: 3rem;
  display: grid;
  place-items: center;
  line-height: 1;
  background: linear-gradient(0, #f5f5f5 0%, #e2e4e5 50%, #ffffff 100%);
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #e3e3e3;
}
