*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e4e8f0;
}

/* Start Button */

.start-button {
  padding: 1rem 2rem;
  background: #e5430f;
  color: #e4e8f0;
  border-radius: 14px;
  border: none;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.start-button:hover {
  background-color: #f5521c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.start-button:disabled {
  background-color: lightgrey;
  color: grey;
  box-shadow: none;
  cursor: not-allowed;
}

/* Toast */

.toast {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
  padding: 1rem 2rem;
  border: none;
  background: rgb(71, 212, 94);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  transition: transform 0.5s;
}

.toast--hidden {
  transform: translate3d(-150%, 0, 0);
}

/* Countdown */

.countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: black;

  opacity: 0;
  width: 100%;
  transition: opacity 0.25s;
}

.countdown--visible {
  opacity: 0.8;
  width: 0%;
  transition: width linear 2000ms;
}
