.favorite-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  border-radius: 999px;
  aspect-ratio: 1;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  margin: -6px;
  padding: 6px;
}

.favorite-button:hover {
  background-color: var(--grey-light);
}

.favorite-button:active {
  background-color: var(--grey-dark);
}
